USE [master]
GO
/****** Object:  Database [ADDDA_APP]    Script Date: 28/10/2023 14:46:06 ******/
CREATE DATABASE [ADDDA_APP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADDDA_APP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ADDDA_APP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ADDDA_APP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ADDDA_APP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADDDA_APP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADDDA_APP]
GO
/****** Object:  Table [dbo].[address]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[address_name] [nvarchar](50) NULL,
	[customer_id] [int] NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[start_date] [nvarchar](20) NULL,
	[start_time] [nvarchar](20) NULL,
	[end_date] [nvarchar](20) NULL,
	[end_time] [nvarchar](20) NULL,
	[total] [int] NULL,
	[name] [nvarchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[complete_flg] [int] NULL,
	[boocking_status_id] [int] NULL,
	[create_by] [int] NULL,
	[car_id] [int] NULL,
 CONSTRAINT [PK_BOOCKING_ORDER] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_status]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_status](
	[booking_status_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_status_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_boocking_status] PRIMARY KEY CLUSTERED 
(
	[booking_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](255) NULL,
 CONSTRAINT [PK_BRAND] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NULL,
	[year_manufacture] [int] NULL,
	[number_plate] [nvarchar](255) NULL,
	[description] [text] NULL,
	[address] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
	[is_delete] [int] NULL,
	[car_status_id] [int] NULL,
	[brand_id] [int] NULL,
	[model_id] [int] NULL,
	[car_type_id] [int] NULL,
	[customer_id] [int] NULL,
	[vehicle_registration_id] [int] NULL,
	[count_journeys] [int] NULL,
 CONSTRAINT [PK_CAR] PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car_status]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_status](
	[car_status_id] [int] IDENTITY(1,1) NOT NULL,
	[car_status_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_car_status] PRIMARY KEY CLUSTERED 
(
	[car_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car_type]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_type](
	[car_type_id] [int] IDENTITY(1,1) NOT NULL,
	[car_type_name] [nvarchar](255) NULL,
	[number_seats] [int] NULL,
 CONSTRAINT [PK_CAR_TYPE] PRIMARY KEY CLUSTERED 
(
	[car_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
	[name_display] [nvarchar](50) NULL,
	[full_name] [nvarchar](50) NULL,
	[birthday] [nvarchar](255) NULL,
	[password] [nvarchar](100) NULL,
	[role_id] [int] NULL,
	[id_number] [nvarchar](255) NULL,
	[id_frontside] [nvarchar](255) NULL,
	[id_backside] [nvarchar](255) NULL,
	[verify_flg] [int] NULL,
	[sex] [nchar](10) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorite_car]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite_car](
	[favorite_car_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[car_id] [int] NULL,
 CONSTRAINT [PK_HART_CAR] PRIMARY KEY CLUSTERED 
(
	[favorite_car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feeback]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feeback](
	[feeback_id] [int] IDENTITY(1,1) NOT NULL,
	[rate] [int] NULL,
	[comment] [text] NULL,
	[create_at] [nvarchar](20) NULL,
	[create_by] [int] NULL,
	[car_id] [int] NULL,
 CONSTRAINT [PK_FEEBACK] PRIMARY KEY CLUSTERED 
(
	[feeback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[model]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[model](
	[model_id] [int] IDENTITY(1,1) NOT NULL,
	[model_name] [nvarchar](255) NULL,
	[brand_id] [int] NULL,
 CONSTRAINT [PK_MODEL] PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_registration]    Script Date: 28/10/2023 14:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_registration](
	[vehicle_registration_id] [int] NOT NULL,
	[vehicle_registration_image] [nvarchar](255) NULL,
	[vehicle_inspection_image] [nvarchar](255) NULL,
 CONSTRAINT [PK_VEHICLE_REGISTRATION] PRIMARY KEY CLUSTERED 
(
	[vehicle_registration_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([address_id], [address_name], [customer_id]) VALUES (2, N'HN2e2e2', 1)
INSERT [dbo].[address] ([address_id], [address_name], [customer_id]) VALUES (3, N'HNN', 2)
INSERT [dbo].[address] ([address_id], [address_name], [customer_id]) VALUES (4, N'HB', 1)
SET IDENTITY_INSERT [dbo].[address] OFF
GO
SET IDENTITY_INSERT [dbo].[booking_status] ON 

INSERT [dbo].[booking_status] ([booking_status_id], [booking_status_name]) VALUES (1, N'Chờ xác nhận')
INSERT [dbo].[booking_status] ([booking_status_id], [booking_status_name]) VALUES (2, N'Đang giao xe')
INSERT [dbo].[booking_status] ([booking_status_id], [booking_status_name]) VALUES (3, N'Đã hoàn thành')
SET IDENTITY_INSERT [dbo].[booking_status] OFF
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([brand_id], [brand_name]) VALUES (1, N'Audi')
INSERT [dbo].[brand] ([brand_id], [brand_name]) VALUES (2, N'Baic')
INSERT [dbo].[brand] ([brand_id], [brand_name]) VALUES (3, N'Bentley')
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[car] ON 

INSERT [dbo].[car] ([car_id], [price], [year_manufacture], [number_plate], [description], [address], [image], [is_delete], [car_status_id], [brand_id], [model_id], [car_type_id], [customer_id], [vehicle_registration_id], [count_journeys]) VALUES (1, 800000, 2022, N'29K-99999', NULL, N'Huyện Hóc Môn, Hồ Chí Minh', N'car_1_1.jpg-car_1_2.jpg-car_1_3.jpg-car_1_4.jpg', 0, 1, 27, 242, 1, 1, NULL, 10000)
INSERT [dbo].[car] ([car_id], [price], [year_manufacture], [number_plate], [description], [address], [image], [is_delete], [car_status_id], [brand_id], [model_id], [car_type_id], [customer_id], [vehicle_registration_id], [count_journeys]) VALUES (3, 820000, 2017, N'51G-371.10', N'Xe Innova s? t? d?ng . Form m?i. Ð?y d? ti?n nghi . B?o hi?m 2 chi?u . N?i th?t d?p.có th? an ninh sân bay. Ðóng ti?n phí c?u du?ng online
', N'
Quận Tân Bình, Hồ Chí Minh', N'car_3_1.jpg-car_3_2.jpg-car_3_3.jpg-car_3_4.jpg', 0, 1, 38, 310, 1, 3, NULL, 15000)
SET IDENTITY_INSERT [dbo].[car] OFF
GO
SET IDENTITY_INSERT [dbo].[car_status] ON 

INSERT [dbo].[car_status] ([car_status_id], [car_status_name]) VALUES (1, N'Chờ duyệt')
INSERT [dbo].[car_status] ([car_status_id], [car_status_name]) VALUES (2, N'Bị từ chối')
INSERT [dbo].[car_status] ([car_status_id], [car_status_name]) VALUES (3, N'Chưa có chuyến')
SET IDENTITY_INSERT [dbo].[car_status] OFF
GO
SET IDENTITY_INSERT [dbo].[car_type] ON 

INSERT [dbo].[car_type] ([car_type_id], [car_type_name], [number_seats]) VALUES (1, N'Mini', 4)
INSERT [dbo].[car_type] ([car_type_id], [car_type_name], [number_seats]) VALUES (2, N'Sedan', 4)
INSERT [dbo].[car_type] ([car_type_id], [car_type_name], [number_seats]) VALUES (3, N'Hatchback', 4)
SET IDENTITY_INSERT [dbo].[car_type] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [phone], [email], [name_display], [full_name], [birthday], [password], [role_id], [id_number], [id_frontside], [id_backside], [verify_flg], [sex]) VALUES (1, N'0123456789', N'duc@gmail.com', N'duc', N'nguyen trung', N'14/05/2003', N'$2a$11$OFsD2igUiXicGSmW6DEcO.lfennKjqkNNCLHUhDRbaybD6DJPDrfW', 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[customer] ([customer_id], [phone], [email], [name_display], [full_name], [birthday], [password], [role_id], [id_number], [id_frontside], [id_backside], [verify_flg], [sex]) VALUES (2, N'0987654321', N'duc1@gmail.com', N'trung', N'nguyen duc', N'15/05/2003', N'12345', 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[customer] ([customer_id], [phone], [email], [name_display], [full_name], [birthday], [password], [role_id], [id_number], [id_frontside], [id_backside], [verify_flg], [sex]) VALUES (3, N'0111444555', N'duc2@gmail.com', N'nguyen', N'trung duc', N'16/05/2003', N'123456', 2, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[model] ON 

INSERT [dbo].[model] ([model_id], [model_name], [brand_id]) VALUES (1, N'AUDI A1', 1)
INSERT [dbo].[model] ([model_id], [model_name], [brand_id]) VALUES (2, N'AUDI A4', 1)
INSERT [dbo].[model] ([model_id], [model_name], [brand_id]) VALUES (3, N'AUDI A5', 1)
GO
SET IDENTITY_INSERT [dbo].[model] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([role_id], [role_name]) VALUES (1, N'User')
INSERT [dbo].[role] ([role_id], [role_name]) VALUES (2, N'owner')
INSERT [dbo].[role] ([role_id], [role_name]) VALUES (3, N'admin')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
INSERT [dbo].[vehicle_registration] ([vehicle_registration_id], [vehicle_registration_image], [vehicle_inspection_image]) VALUES (1, N'EXTy0_Screenshot (19).png', N'EXTy0_Screenshot (20).png')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__B43B145F52031815]    Script Date: 28/10/2023 14:46:06 ******/
ALTER TABLE [dbo].[customer] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[car] ADD  CONSTRAINT [DF_car_count_journeys]  DEFAULT ((0)) FOR [count_journeys]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([boocking_status_id])
REFERENCES [dbo].[booking_status] ([booking_status_id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[car] ([car_id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([car_status_id])
REFERENCES [dbo].[car_status] ([car_status_id])
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([car_type_id])
REFERENCES [dbo].[car_type] ([car_type_id])
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([model_id])
REFERENCES [dbo].[model] ([model_id])
GO
ALTER TABLE [dbo].[car]  WITH CHECK ADD FOREIGN KEY([vehicle_registration_id])
REFERENCES [dbo].[vehicle_registration] ([vehicle_registration_id])
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[favorite_car]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[car] ([car_id])
GO
ALTER TABLE [dbo].[favorite_car]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[feeback]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[car] ([car_id])
GO
ALTER TABLE [dbo].[feeback]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[model]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([brand_id])
GO
USE [master]
GO
